<script>
	import { ClickableTile } from "carbon-components-svelte";
	export let item;
	$: src = item.iiifid
		? `https://collections.newberry.org/IIIF3/Image/${item.iiifid}/full/300,/0/default.jpg`
		: item.imageLink;
	// $: console.log("src", src);
</script>

<div class="postcard-wrpr">
	<ClickableTile href={item.url}>
		<figure class="postcard-fig" id={item.id}>
			<img class="postcard-img" {src} alt={item.ogfn} title={item.ogfn} />
			<figcaption>
				{item.id} : {item.title}
			</figcaption>
		</figure>
	</ClickableTile>
</div>

<style lang="scss">
	.postcard-wrpr {
		width: 250px;
	}
	.postcard-fig {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		figcaption {
			padding: 16px;
		}
		.postcard-img {
			width: 100%;
		}
	}
	:global(.bx--tile.bx--tile--clickable) {
		padding: 0;
	}
</style>
