<script>
	import { onMount } from "svelte";
	import "$src/newberry.scss";
	import Newberry from "$lib/newberry.svelte";
	import { pageTitle, top } from "$src/stores";
	import Search from "./search.svelte";

	let shadow = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 45) {
				shadow = true;
			} else {
				shadow = false;
			}
			if (window.scrollY > 75) {
				$top = true;
			} else {
				$top = false;
			}
		};
	});
</script>

<header class={shadow ? "shadow" : ""}>
	<div class="logo">
		<Newberry />
	</div>
	{#if $pageTitle !== "Postcards!"}
		<h1 class="right-side-title">Postcards!</h1>
	{/if}
	<div class="right-side">
		<Search />
	</div>
</header>

<style lang="scss">
	@import "/src/newberry.scss";
	h1 {
		color: rgb(var(--colorDark));
	}
	.right-side-title {
		z-index: 10000;
	}
	header {
		@include slashy;
		z-index: 3;
		position: fixed;
		top: 0;
		right: 0;
		height: 75px;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		transition-timing-function: ease-out;
		transition: 250ms;
	}
	.shadow {
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2) !important;
	}
	.logo,
	.right-side {
		flex-basis: 500px;
	}
</style>
