<script>
    // import "carbon-components-svelte/css/all.css";
    import { goto } from "$app/navigation";
    import { page } from "$app/stores";
    import { copyright, language, format, subject, place } from "$data/filters";
    import { HeaderSearch } from "carbon-components-svelte";
    import Card from "./card.svelte";

    const data = [copyright, language, format, subject, place]
        .flat()
        .sort((a, b) => (a.text > b.text ? 1 : -1));
    // console.log("data", data);

    let ref = null;
    let active = false;
    let value = "";
    let selectedResultIndex = 0;
    let events = [];

    $: lowerCaseValue = value.toLowerCase();
    $: results =
        value.length > 0
            ? data.filter((item) => {
                  return item.text.toLowerCase().includes(lowerCaseValue);
              })
            : [];

    // $: console.log("results", results);
    // $: console.log("ref", ref);
    // $: console.log("active", active);
    // $: console.log("value", value);
    // $: console.log("selectedResultIndex", selectedResultIndex);
    // on:select={(e) => {
    //             events = [...events, { type: "select", ...e.detail }];
    //         }}
    const navigateOnSelect = (e) => {
        let url =
            $page.url.pathname === "/"
                ? "/postcards/" +
                  e.selectedResult.description.toLowerCase() +
                  "/" +
                  e.selectedResult.text.toLowerCase()
                : e.selectedResult.description.toLowerCase() +
                  "/" +
                  e.selectedResult.text.toLowerCase();

        // goto(url);
        if (url.length > 0) {
            console.log(url);
        }
    };
</script>

<div class="srch-wrpr">
    <HeaderSearch
        bind:ref
        bind:active
        bind:value
        bind:selectedResultIndex
        placeholder="Search the postcard collection"
        {results}
        on:active={() => {
            events = [...events, { type: "active" }];
        }}
        on:inactive={() => {
            events = [...events, { type: "inactive" }];
        }}
        on:clear={() => {
            events = [...events, { type: "clear" }];
        }}
        on:select={(e) => navigateOnSelect(e.detail)}
    />
</div>

<style lang="scss">
    .srch-wrpr {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
    }
    :global(.bx--header__action > svg) {
        fill: rgb(var(--colorDark));
    }
    :global([role="search"]) {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    :global([role="search"].active) {
        outline: 2px solid rgb(var(--colorSplash)) !important;
        outline-offset: -2px !important;
    }
    :global([role="search"] > div) {
        border-bottom: 0 !important;
    }
    :global([role="search"] > div > button) {
        border: 0 !important;
    }
    :global(.bx--header__action:hover) {
        background-color: rgb(var(--colorSplash)) !important;
    }
    :global(.bx--header__action) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    :global(input) {
        color: rgb(var(--colorDark)) !important;
        caret-color: rgb(var(--colorDark)) !important;
    }
    :global(#search-menu) {
        background-color: rgb(var(--colorLight));
        color: rgb(var(--colorDark)) !important;
        border: 1px solid rgb(var(--colorSplash));
        box-shadow: 0 4px 8px 0 rgb(var(--colorSplash));
    }
    :global(#search-menu .selected) {
        background-color: rgb(var(--colorSplash)) !important;
        color: rgb(var(--colorDark));
    }
    :global(a[id^="search-menuitem-"]) {
        background-color: rgba(0, 0, 0, 0) !important;
        color: rgb(var(--colorDark)) !important;
    }
    :global(a[id^="search-menuitem-"] span) {
        color: rgb(var(--colorDark)) !important;
    }
    :global(a[id^="search-menuitem-"]:hover) {
        background-color: rgb(var(--colorSplash)) !important;
    }
</style>
