<script>
    import { Theme } from "carbon-components-svelte";
    const tokensDayMode = {};
</script>

<Theme
    render="toggle"
    toggle={{
        themes: ["g10", "g80"],
        labelA: "Enable dark mode",
        labelB: "Enable dark mode",
        hideLabel: true,
        size: "sm",
    }}
    persistKey="__newberry-theme"
/>
