<script>
	import { base } from "$app/paths";
	import { pageTitle, top } from "$src/stores";
	import { truncate } from "carbon-components-svelte";
</script>

<div class={$top ? "top titlebar" : "titlebar"}>
	<h1>
		{$pageTitle}
	</h1>
</div>

<style lang="scss">
	// @import '/src/newberry.scss';
	.titlebar {
		z-index: 900;
		position: sticky;
		top: 0;
		height: 75px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		// width: 100vw;

		&.top h1 {
			font-size: 33px;
			line-height: 28px;
		}
		h1 {
			font-size: 42px;
			line-height: 37px;
			color: var(--mulberry);
		}
		// a {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// }
	}
	h1 {
		transition-timing-function: ease-out;
		transition: 250ms font-size;
	}
</style>
