<script>
	import 'carbon-components-svelte/css/all.css';
	import Header from '$lib/header.svelte';
	import { Column, Content, Grid, Row, Theme, Tile } from 'carbon-components-svelte';
</script>

<Header />
<main class="wrapper">
	<Content>
		<slot />
	</Content>
</main>

<style lang="scss">
	main.wrapper {
		padding-top: 75px;
		width: 70vw;
		margin: auto;
	}
</style>
