<script>
    import { page } from "$app/stores";
    import Titlebar from "$lib/titlebar.svelte";
    import Masonry from "svelte-bricks";
    import Card from "$lib/card.svelte";
    import { pageTitle } from "$src/stores";
    export let data;
    // console.log("data", data);
    function toTitleCase(str) {
        console.log(str);
        let spacesplit = str
            .split(" ")
            .map((s) => s.charAt(0).toUpperCase() + s.substr(1))
            .join(" ");
        let dashsplit = spacesplit
            .split("--")
            .map((s) => s.charAt(0).toUpperCase() + s.substr(1))
            .join("--");
        return dashsplit;
        // return str.replace(/\w\S*/g, function (txt) {
        // 	return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        // });
    }
    $: items =
        data.items[0] && data.items[0]["CoreField.Identifier"]
            ? data.items.map((d) => ({
                  id: d["CoreField.Identifier"],
                  title: d["Title"],
                  iiifid:
                      d["Document.IIIFV3ID"].indexOf("Manifest") === -1
                          ? d["Document.IIIFV3ID"].replace(
                                "https://collections.newberry.org/IIIF3/Presentation/Canvas/",
                                ""
                            )
                          : "",
                  url: d["Document.CortexShareLink"],
                  imageLink: d.imageLink,
                  ogfn: d["RelatedValue.Original-Filename"]
                      ? d["RelatedValue.Original-Filename"]
                      : d["CoreField.OriginalFileName"],
                  doctype: d["CoreField.DocSubType"],
              }))
            : //   .filter((d) => {
              //       return (
              //           d.ogfn &&
              //           d.ogfn.split(".").slice(-2, -1).pop().slice(-1) !==
              //               "2"
              //       );
              //   })
              data.items;
    // $: console.log(items);
    $: $pageTitle =
        items.length > 0
            ? toTitleCase($page.params.keyword)
            : toTitleCase($page.params.keyword) + ": 0 results.";

    let [minColWidth, maxColWidth, gap] = [200, 800, 20];
</script>

<Titlebar />

{#if items.length === 0}
    <pre>
	{JSON.stringify(data.items, null, 4)}
</pre>
{/if}
<Masonry {items} {gap} {minColWidth} {maxColWidth} let:item>
    <Card {item} />
</Masonry>

<style>
    :global(div.masonry) {
        width: 70vw;
    }
</style>
