<script>
    import { ClickableTile } from "carbon-components-svelte";

    const pre =
        "https://collections.newberry.org/API/search/v3.0/search?query=RelatedValue.Format:(";
    const suf =
        ") AND New.Place:France&fields=CoreField.Identifier,Document.CortexShareLink,RelatedValue.Format";
    const formats = [
        "Maps",
        "Maps%20%28Documents%29",
        "Cartographic%20materials",
        // "Maps%2D%2DEarly%20works%20to%201800",
        // "Nautical%20charts",
        "Road%20maps",
        "Atlases",
        "Views%20%28Visual%20works%29",
        "Aeronautical%20charts",
        "Portolan%20charts",
        "Manuscript%20maps",
        "Gores%20%28Maps%29",
        "Plats%20%28Maps%29",
    ];
    const urls = formats.map((f, idx) => {
        // console.log(formats[(0, idx)]);
        let frmt = idx > 0 ? formats.slice(0, idx).join(" OR ") : formats[0];
        return pre + frmt + suf;
    });
</script>

<pre>
    {JSON.stringify(urls, null, 4)}
</pre>
{#each urls as url}
    <ClickableTile href={url} target="_blank">{url}</ClickableTile>
{/each}

<style>
    :global(.bx--tile.bx--tile--clickable.bx--link) {
        padding: 16px;
    }
</style>
